#language-list {
  left: auto;
  right: 10px;
}

[dir="rtl"] #language-list {
  left: 10px;
  right: auto;
}

#language-list a {
  color: inherit;
}

#mdbook-menu-bar .theme-popup{
  overflow: visible;
}

#mdbook-menu-bar .theme-link {
  display: inline-block;
  box-sizing: border-box;
}
